* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

#search {
    height: 100vh;
    width: 100%;
    background-color: rgb(218, 211, 238); 
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.serach {
    height: 600px;
    width: 450px;
    background-color: rgba(230, 239, 247, 0.716);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
    

}

.serach::-webkit-scrollbar {
    display: none;
}
.sub-search {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border: 5px solid rgba(161, 160, 158, 0.618);
    padding: 5px 40px;
    border-radius: 10px;
    

   


}

.fa-search {
    font-size: 30px;
    margin: 5px 0;
    cursor: pointer;
    color: rgba(38, 38, 37, 0.997);
}

input {
    height: 40px;
    width: 230px;
    margin: 0 20px;
    border: none;
    outline: none;
    background-color: rgba(95, 93, 93, 0.177);
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
.product {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    width: 270px;
}
.product-details {
    width: 100%;
    padding: 0 20px;
}

.product img {
    border-radius: 10px;
}
.product h1 {
    font-size: 20px;
}

.product h2 {
    font-size: 20px;
}

.product-list {
    height: 100%;
    display: flex;
    flex-direction: column;
   
}